name: Deploy to IIS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted]
    

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release

      - name: Publish
        run: dotnet publish -c Release

      - name: create tools manifest
        run: dotnet new tool-manifest --force 
        
      - name: Install EF Core CLI
        run: dotnet tool install dotnet-ef --version 9.0.1
  
      - name: Run migrations
        run: dotnet ef database update

      - name: Restart IIS
        run: |
          iisreset
